[submodule "assets/scss/inuit.css"]
	path = assets/scss/inuit.css
	url = git@github.com:csswizardry/inuit.css.git
[submodule "assets/fonts/font-awesome"]
	path = assets/fonts/font-awesome
	url = https://github.com/FortAwesome/Font-Awesome.git
