/*------------------------------------*\
    $UI-BUTTONS
\*------------------------------------*/

.btn--dark {
	background-color: $color__dark;
	font-weight: 600;

	&,
	&:visited {
		color: white;
	}
}