/*------------------------------------*\
    TEMPLE UPDATE -- OBJECT -- PANE
\*------------------------------------*/
/**
 *
 	<section class="pane  pane--cut">
 		<header class="pane__header--alpha  pane__header">
 			<h1 class="pane__header--alpha__title  pane__header__title  h--main">Title</h1>
 		</header>
 		<div class="pane__content  pane--cut__content">
 			Lorem ipsum dolor sit amet, consectetur adipisicing elit.
 		</div>
 	</section>
 *
 */
.pane {

}




	/**
	 * A header for a pane.
	 *
	 * Appears directly above a pane.
	 *
	 * May also be applied to page titles.
	 */
	.pane__header {}

		.pane__header__title {
			font-weight: 400;
		}





	/**
	 * A header with a solid background and large text.
	 *
	 * Extends `.pane__header`
	 */
	.pane__header--alpha {
		background-color: $color__alpha;
		padding-left: $base-spacing-unit;
	}

		.pane__header--alpha__title {
			letter-spacing: 0.08em;
		}





	/**
	 * A header with no background and slightly smaller text.
	 *
	 * Extends `.pane__header`
	 */
	.pane__header--beta {
		padding-bottom: $half-spacing-unit;
		padding-top: $half-spacing-unit;
	}

		.pane__header--beta__title {
			text-align: right;
		}





/**
 * A pane with a cut-out bottom right corner.
 *
 * Extends `.pane`
 */
.pane--cut {}

	.pane--cut__header {}

	.pane--cut__content {
		@include corner-cut();
	}




/**
 * Panes with very short content (or headers).
 *
 * Must have an inner element for vertically positioning content.
 *
 	<header class="page-header  pane--short">
 		<div class="page-header__inner  pane--short__inner">
 			<h1 class="page-header__title  page-title  h--main">Yo!</h1>
 		</div>
 	</header>
 *
 */
.pane--short {

	/**
	 * Override this default color by calling:
			@include corner-cut($color, $color-override: true);
	 */
	@include corner-cut($color__alpha, 20px);
	padding-left: $base-spacing-unit;
}

	/**
	 * Position the content somewhere
	 * near the center of the short pane.
	 */
	.pane--short__inner {
		position: relative;
		top: $half-spacing-unit;
	}