/*------------------------------------*\
    $UI-COMMENTS
\*------------------------------------*/

.comment {
	@extend .pane;

	background-color: white;
	border: 1px solid $base-ui-color;
	border-right-width: 0;
	margin-left: $half-spacing-unit;

}

	.comment__body {
		margin-bottom: $base-spacing-unit;
	}

	/* ul */.comment-thread {
		margin-left: 0;
	}


.comment.depth-1 {
	border-right-width: 1px;
}