/*------------------------------------*\
    $UI-COMMENTS
\*------------------------------------*/

.comment {
	@extend .pane;

	background-color: white;
	border: 1px solid $base-ui-color;
	margin-left: 0;

}

	.comment__body {
		margin-bottom: $base-spacing-unit;
	}

	/* ul */.comment-thread {
		margin-left: 0;
	}