/*------------------------------------*\
    $UI-FOOTER
\*------------------------------------*/

@include sticky-footer(5em, "#root", "#sticky-push", "#footer");

.footer__inner {
	background-color: $color__gamma;
	color: white;
	height: 100%;
}