/*------------------------------------*\
	$UI-GALLERY
\*------------------------------------*/

.multi-list {
	> li {
		> a {
			display: block;
			line-height: 0;
		}
	}
}

	/**
	 * Provide more column options.
	 * 
	 * Apply these classes alongside the `.matrix` or `.multi-list` classes on
	 * lists to determine how wide their columns are.
	 */
	.one-col > li{
		width: auto;
	}

	.six-cols > li{
		@extend #{$class-type}one-sixth;
	}
	.seven-cols > li{
		width: 14.285714286%;
	}
	.eight-cols > li{
		@extend #{$class-type}one-eighth;
	}
	.nine-cols > li{
		width:11.111111111%;
	}