/*------------------------------------*\
    $UI-NAVBAR
\*------------------------------------*/
/**
 * A Bootstrap/Foundation style top navbar.
 * 
 * Must be turned on in `lib/config.php`.
 *
 * Extends `nav-main`.
 */

.navbar {
	@extend .cf;

	background-color: $navbar--background-color;
	color: $navbar--text-color;

	.brand {
		@include font-size($h3-size);
		border-right: 1px solid #333;
		display: inline-block;
		font-weight: bold;
		float: left;
		padding: $half-spacing-unit;
	}

	.main-nav {
		a {
			color: $navbar--text-color;
		}
	} // end .main-nav
} // end .navbar




@include media-query(desk) {
	.navbar {
		.brand {
			border-right: 0;
		}

		.main-nav {
			> .nav {
				@include nav-dividers();
			}
		}
	}
}