/*------------------------------------*\
    $UI-COMMENTS
\*------------------------------------*/

.comment {
	background-color: rgba(black, 0.25);
	padding: $half-spacing-unit;

	a {
		@include a-color(black, white);
	}
}

	.comment__heading {
		margin-bottom: $quarter-spacing-unit;
	}