/*------------------------------------*\
    $UI-FORECAST
\*------------------------------------*/
/**
 * Styles for the Forecast.io weather widget.
 *
 * Heavily based off of DuckDuckGo's JS widget.
 *
 * https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/share/spice/forecast/forecast.css
 */

.forecast-widget {
  width: 100%;
  font-weight: 300;
  max-width: 300px;
  color: #333;
  margin: 0 auto;
  height: 170px;
  position: relative;

  &.alert { height: 208px; }

  a { color: #333; }
}

  .forecast {
    margin-top: $base-spacing-unit / 2;
  }

    .forecast__currently,
    .forecast__daily {
      width: 50%;
    }

    .forecast__currently {
      display:inline-block;
      position: absolute;
      left: 0;
      padding-top: 5px;

      .conditions {}

      .temp {
        width: 50%;
        text-align: left;
      }

        .temp__str {
          @include font-size($kilo-size, false);
          font-weight: bold;
          line-height: 1;
        }

        .temp__dir,
        .temp__feel {
          @include font-size($h6-size);
          display: block;
          position: relative;
          top: -1px;
          font-weight: normal;
          line-height: 18px;
        }

        .temp__dir {}

        .temp__feel {}

      .summary {
        @include font-size($h4-size);
        font-weight: bold;
        margin-top: 8px;
        clear: both;
      }

      .wind {
        @include font-size($h6-size);
        margin-top: 4px;
      }
    }

    .forecast__daily {
      @include font-size($h6-size);
      display: table;
      position:absolute;
      right:0;
      top:0;
      text-align: center;
    }

      .forecast__daily__day {
        display: table-cell;
        text-align: center;

        .day-name {
          font-weight: bold;
          display: inline-block;
          width: 100%;
        }

        .conditions {}

      }





.temp-bar {
  @include font-size($milli-size);
  position: relative;
  width: 20px;
  margin: 18px auto 0;
  border-radius: 200px;
  background-color: #333;
  white-space: nowrap;
}

  .temp-bar__hi,
  .temp-bar__lo {
    position: absolute;
    width: 100%;
    left: 2px;
  }

  .temp-bar__hi {
    top: -#{$base-spacing-unit};
  }

  .temp-bar__lo {
    bottom: -#{$base-spacing-unit};
  }





// .forecast-widget .fe_alert {
//   position: absolute;
//   bottom: 0;
//   text-align: center;
//   width: 100%;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   white-space: nowrap;
// }

// .forecast-widget .fe_alert a {
//   text-decoration: underline;
//   text-overflow: ellipsis;
//   font-style: italic;
//   font-weight: bold;
//   text-decoration: underline;
//   color: #A00;
// }

// .fe_alert a .fe_icon {
//   @include font-size($h4-size);
// }





@media screen and (max-width:480px) {

  .forecast-widget {
    min-width:200px;
    height:auto;
  }

    .forecast__currently {
      width:100%;
      position:relative;
      display:block;
      margin:auto;
      left:auto;
      padding-top:0;

      .top {
        position: relative;
        left: 6px;
        width: 200px;
        margin: 0 auto;
      }
    }

    .forecast__daily {
      position:relative;
      width:100%;
      right:auto;
      left:auto;
      margin:auto;
      top:auto;
      margin-top:1em;
      margin-bottom:3em;
    }

    .forecast__daily__day {
      .day-name {
        @include font-size($milli-size);
      }
    }





  .temp-bar {
    width: 15px;
  }





  // .forecast-widget.alert {
  //     height:auto;
  // }

  // .forecast-widget .fe_alert {
  //     /* bottom:4.2em; */
  //     position:static;
  //     margin: 10px 0;
  // }
}
