/*------------------------------------*\
    $UI-NAV
\*------------------------------------*/
/**
 * Contains styles that override the navigation
 * component and its internal workings.
 */

/**
 * Customize the look of the menu link for small screens.
 */
.menu-link {
	@include font-size(18px);
	background-color: black;
	line-height: 1;

	&:hover,
	&:active {
		color: white;
	}
}

/**
 * Float menus to the right
 */
.main-nav__inner {
	float: right;
}

	.main-nav__primary-navigation,
	.main-nav__social-menu {
		display: inline-block;
		margin-bottom: 0;
		vertical-align: middle;
	}

/**
 * Height contraints.
 */
/*ul*/.level-1 {
	> li {
		a {
			line-height: 2;
		}
	}
}

.main-nav__social-menu__item {
	height: 48px;
	vertical-align: middle;

	i {
		display: inline-block;
		vertical-align: middle;

		background-size: 16px;
		height: 16px;
		width: 16px;
	}
}