/*------------------------------------*\
    $UI-SLIDER
\*------------------------------------*/

.slider {
	background-color: black;
	margin: 0;
	padding: 0;
	position: relative;
}

	.slides {
		@extend .cf;
		zoom: 1;

		> li {
			display: none;
			-webkit-backface-visibility: hidden;
		}

		img {
			width: 100%;
			display: block;
		}
	}

		.slide {}

			.slide__img,
			.slide__info {
				@extend .portable--one-whole;
				@extend .desk--one-half;

				display: inline-block;
				vertical-align: middle;
			}

			.slide__img {}

			.slide__info {
				padding-left: $base-spacing-unit;
				padding-right: $base-spacing-unit;
			}

				.slide__info__title {
					@include media-query(portable) {
						margin-top: $base-spacing-unit;
					}
				}

				.slide__info__dek {
					color: white;
				}




/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */


/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}

.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flex-viewport {
	@include transition(all 1s ease);
	max-height: 2000px;
}

.loading .flex-viewport { max-height: 300px; }
.carousel li { margin-right: 5px; }



/* Direction Nav */
.flex-direction-nav { @extend .accessibility; }

/* Control Nav */
.flex-control-nav,
.flex-control-paging {
	padding: $half-spacing-unit;
	position: absolute;
	z-index: 999;

	li {
		display: inline-block;
		*display: inline;
		margin: 0 6px;
		zoom: 1;

		a {
			width: 11px;
			height: 11px;
			display: block;
			background-color: white;
			cursor: pointer;
			text-indent: -9999px;

			&:hover {
				background-color: $color__dark;
			}

			&.flex-active {
				background-color: $color--gray--50;
				cursor: default;
			}
		}
	}
}

@include media-query(portable) {
	.flex-control-nav,
	.flex-control-paging {
		top: 0;
		width: 100%;
		text-align: center;
	}
}

@include media-query(desk) {
	.flex-control-nav,
	.flex-control-paging {
		bottom: 0;
	}
}