/*------------------------------------*\
    $UI-WIDGETS
\*------------------------------------*/





/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * CONTENTS...................You’re reading it!
 * GENERAL....................General widgets
 * TWITTER WIDGET PRO.........Plugin-specific styles
 * CUSTOM FACEBOOK FEED.......Plugin-specific styles
 * YOUTUBE CHANNEL GALLERY....Plugin-specific styles
 * FORECAST WIDGET............Forecast.io widget
 */





/*------------------------------------*\
    $GENERAL
\*------------------------------------*/


.widget {
  &:last-of-type {
    margin-bottom: 0; // ^^overrides exai
  }
}

.widgets {
  padding-bottom: $base-spacing-unit;
  padding-top: $base-spacing-unit;
}





/*------------------------------------*\
    $TWITTER-WIDGET-PRO
\*------------------------------------*/
.widget_twitter {

  h3 {
    display: none; // there's no way to override this in widget settings! see below for another
  }

  ul {
    margin-left: 0; // ^^overrides exai
  }

  .time-meta {
    text-transform: uppercase;

    a {
      font-weight: 400;
    }
  }

  // This should disappear via widget settings, but it doesn't.
  .in-reply-to-meta {
    display: none;
  }
}





/*------------------------------------*\
    $CUSTOM-FACEBOOK-FEED
\*------------------------------------*/


#cff { // :(
  p {
    @include font-size(12px);
  }
}

.cff-item {
  border-bottom: 0 !important; // motherfucker.
}

.cff-date {
  color: black;
  text-align: right;
  text-transform: uppercase;
}





/*------------------------------------*\
    $YOUTUBE-CHANNEL-GALLERY
\*------------------------------------*/
/**
 * For the Update Now and Update Ahora pages.
 */

.ytchagallery {}

  .ytctitle {
    @include font-size($h1-size);
    font-family: $font__stack--condensed--light;
  }

  .ytctdescription {}

  /**
   * While frighteningly specific, this forces gallery cells
   * to 100% of their parent on small screens. :)
   */
  @include media-query(portable) {
    .ytcplayer-wrapper {
      margin-bottom: $base-spacing-unit * 5 !important;
    }

    .ytccf .ytc-columns3 li {
      width: 100% !important;
      padding-bottom: $base-spacing-unit * 4 !important;
    }

      .ytctdescription {
        @include font-size($h4-size);
      }
  }

  @include media-query(desk) {
    .ytc-row {
      margin-bottom: $base-spacing-unit * 2;
    }

      .ytctitle {}

      .ytctdescription {
        @include font-size(14px);
      }
  } // end media query desk





/*------------------------------------*\
    $FORECAST-WIDGET
\*------------------------------------*/
/**
 * Styles for the Forecast.io weather widget.
 *
 * Heavily based off of DuckDuckGo's JS widget.
 *
 * https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/share/spice/forecast/forecast.css
 */


.forecast-widget {
  @extend .cf;
  width: 100%;
  font-weight: 300;
  min-width: 200px;
  max-width: 300px;
  color: #333;
  margin: 0 auto;
  padding-bottom: ($base-spacing-unit + $half-spacing-unit);

  a { color: #333; }
}

  .forecast {
    @extend .cf;
    margin-top: $base-spacing-unit / 2;
  }

    .forecast__currently,
    .forecast__daily {
      width: 50%;
    }

    .forecast__currently {
      float: left;
      padding-top: 5px;
      text-align: right;

      .top {
        @extend .cf;
      }

      .temp,
      .summary,
      .wind {
        line-height: 1.2;
        padding-right: $half-spacing-unit;
      }

        .temp__str {
          @include font-size($kilo-size, false);
          font-weight: bold;
          line-height: 1;
        }

        .temp__dir,
        .temp__feel {
          @include font-size($milli-size, false);
          display: block;
          font-weight: normal;
        }

      .summary {
        @include font-size($h4-size, false);
        font-weight: bold;
        margin-top: 8px;
        line-height: 1;
        clear: both;
      }

      .wind {
        @include font-size($h6-size, false);
      }
    }

    .forecast__daily {
      @include font-size($h6-size);
      float: right;
      display: table;
      text-align: center;
    }

      .forecast__daily__day {
        display: table-cell;
        text-align: center;

        .day-name {
          font-weight: bold;
          display: inline-block;
          width: 100%;
        }

        .conditions {}

      }


/**
 * Dynamic temperature bar.
 */
.temp-bar {
  @include font-size($milli-size);
  position: relative;
  width: 20px;
  margin: 18px auto 0;
  border-radius: 200px;
  background-color: #333;
  white-space: nowrap;
}

  .temp-bar__hi,
  .temp-bar__lo {
    position: absolute;
    width: 100%;
    left: 2px;
  }

  .temp-bar__hi {
    top: -20px;
  }

  .temp-bar__lo {
    bottom: -20px;
  }


.home {

  .forecast-widget {
    width: 300px;
  }

  .icon--weather--currently {
    width: 50%;
  }

  .forecast__currently {

    .temp {
      width: 50%;
      float: left;
    }
  }
}


/**
 * The following styles are specific to the
 * Forecast.io widget derived from DuckDuckGo's
 * widget. The icons to be displayed are animated
 * Skycons by Dark Sky.
 *
 * https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/share/spice/forecast/forecast.css
 * https://github.com/darkskyapp/skycons
 */

.icon--weather {
  width: 22px;
  height: 22px;
  margin-top: 2px;
}

  .icon--weather--currently {
    width: 100%;
    height: auto;
    float: right;
  }

  .icon--weather--day {
    display: inline-block;
    width: 26px;
    height: 26px;
    margin-top: 2px;
  }

  /**
   * For Skycons using HTML5 canvas.
   */
  .canvas {

    .icon--weather--currently {
      float: right;
    }

    .icon--weather--day {
      width: 70%;
      height: auto;
      position: relative;
      z-index: 99;
    }
  }
