/*------------------------------------*\
    $UI-WIDGETS
\*------------------------------------*/

/**
 * Bottom margin on widget group, not single widgets.
 *
 * ^^overrides exai
 */
.widget {
  margin-bottom: 0; // ^^overrides exai
}

.widgets {
  padding-bottom: $base-spacing-unit;
  padding-top: $base-spacing-unit;
}


/**
 * TWITTER WIDGET PRO
 */
.widget_twitter {

  h3 {
    display: none; // there's no way to override this in widget settings! see below for another
  }

  ul {
    margin-left: 0; // ^^overrides exai
  }

  .time-meta {
    text-transform: uppercase;

    a {
      font-weight: 400;
    }
  }

  // This should disappear via widget settings, but it doesn't.
  .in-reply-to-meta {
    display: none;
  }
}





/**
 * CUSTOM FACEBOOK FEED
 *
 * Deals with the devil.
 */
#cff { // :(
  p {
    @include font-size(12px);
  }
}

.cff-item {
  border-bottom: 0 !important; // motherfucker.
}

.cff-date {
  color: black;
  text-align: right;
  text-transform: uppercase;
}





/**
 * YOUTUBE CHANNEL GALLERY
 *
 * For the Update Now and Update Ahora pages.
 */

.ytchagallery {}

  .ytctitle {
    @include font-size($h1-size);
    font-family: $font__stack--condensed--light;
  }

  .ytctdescription {}

  /**
   * While frighteningly specific, this forces gallery cells
   * to 100% of their parent on small screens. :)
   */
  @include media-query(portable) {
    .ytcplayer-wrapper {
      margin-bottom: $base-spacing-unit * 5 !important;
    }

    .ytccf .ytc-columns3 li {
      width: 100% !important;
      padding-bottom: $base-spacing-unit * 4 !important;
    }

      .ytctdescription {
        @include font-size($h4-size);
      }
  }

  @include media-query(desk) {
    .ytc-row {
      margin-bottom: $base-spacing-unit * 2;
    }

      .ytctitle {}

      .ytctdescription {
        @include font-size(14px);
      }
  } // end media query desk
